#!/bin/bash

set -eux

introspect()
{
  #start introspection
  for node in `ironic node-list | awk '/manage/ {print $2}'`; do
    openstack baremetal introspection start $node
    sleep 30s
  done

  #wait for all nodes to be off
  set +e
  timeout $1 bash -c -- 'source $HOME/stackrc; \
                         ironic node-list | grep -q "power on"; \
                         while [ $? -eq 0 ]; do \
                            sleep 10s; \
                            ironic node-list | grep -q "power on"; \
                         done'
  set -e

  #set nodes that are off and not already available to available
  for node in `ironic node-list | awk '/manage/' | awk '/power off/ {print $2}'`; do
    ironic node-set-provision-state $node provide
  done
}


### --start_docs
## Prepare the undercloud for deploying the overcloud
## ==================================================

## Prepare Your Environment
## ------------------------

## * Source in the undercloud credentials.
## ::

source {{ working_dir }}/stackrc

## * Upload images to glance.
## ::

openstack overcloud image upload {% if bash_deploy_ramdisk %}--old-deploy-image{% endif %}

## * Register nodes with Ironic.
## ::

openstack baremetal import --json instackenv.json
openstack baremetal configure boot

{% if step_introspect %}

## * Introspect hardware attributes of nodes.
## ::

#set to manageable
for node in `ironic node-list | awk '/available/ {print $2}'`; do
  ironic node-set-provision-state $node manage
done

#Make three introspection attempts with progressively longer
# timeouts, if the first is successful following attempts will
# be skipped.
introspect 15m
introspect 30m
introspect 60m


{% endif %}

### --stop_docs
